<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbb6b1">  <td>14/10/27 23:32:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AttlasianTests.createissue()[pri:0, instance:com.attlasian.test.AttlasianTests@49ff0dde]">createissue</td> 
  <td>main@1620450815</td>   <td></td> </tr>
<tr bgcolor="fbb6b1">  <td>14/10/27 23:33:11</td>   <td>67495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AttlasianTests.searchupdateissue()[pri:0, instance:com.attlasian.test.AttlasianTests@49ff0dde]">searchupdateissue</td> 
  <td>main@1620450815</td>   <td></td> </tr>
</table>
